body{
    font-family: 'Ysabeau Infant', sans-serif;
    margin: 0;
}
.button-primary{
    padding: 12px 15px;
    background-color: orangered;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;

}
.title-primary{
    font-weight: 700;
    font-size: 40px;
}
/* nav bar style  */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: rgba(54, 54, 54, 0.79);
    color: white;
    align-items: center;
}
.geeklogo{
    width: 100px;
    }
   .nav-menu{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    padding: 0;
   }
   /* banner style  */
   .Banner{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 150px;
    background-image: url("images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    color: whitesmoke;
   }
   .banner-img{
    width: 300px;
   }
   .banner-title{
    width: 400px;
    margin-bottom: 0;
   }
   .banner-info{
    margin-top: 10px;
   }
   /* about section style  */
   .about-img{
    width: 400px;
   }
   .about-us{
    display: flex;
    justify-content: space-between;
    
    padding: 0px 200px;
    margin-bottom: 40px;
   }
   .about-us-details{
    width: 400px;
   }
   .about-title-info{
    font-weight: 800;
    font-size: 25px;
    margin-right: 100px;
    margin-bottom: 0;
   }
   .about-title-details{
    margin-top: 10 px;
    font-size: 18px;
    
   }
   /* services section style  */
   .our-services{
    color: aliceblue;
    background-image: url("images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-repeat: no-repeat;
    background-position:center;
    padding: 20px 150px;
    
   }

   .all-services{
    display: flex;
    justify-content: center;
    gap: 150px;
    
}
.our-service-title{
    text-align: center;
    
    margin-bottom: 0;
}
.services-logo{
    max-width: 50px;
}
.services{
    margin-top: 30px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    padding: 30px;
}
.details-btn{
    color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(80, 80, 80);
}
   